[submodule "Vignere-solver"]
	path = Vignere-solver
	url = https://github.com/Ogster08/Vignere-solver
[submodule "Affine-solver"]
	path = Affine-solver
	url = https://github.com/Ogster08/Affine-solver
[submodule "Rail-Fence-solver"]
	path = Rail-Fence-solver
	url = https://github.com/Ogster08/Rail-Fence-solver
[submodule "Columnar-Transposition-Solver"]
	path = Columnar-Transposition-Solver
	url = https://github.com/Ogster08/Columnar-Transposition-Solver
